html {
    font-family: 'Times New Roman', Times, serif;
}

/* Selector Grouping */
html, .skills-tables-div {
    background-color: lightgray;
}

/* Selector Grouping */
div, td, h2 {
    text-align: center;
}

/* Selector Grouping */
table, div {
    border: 1px solid black;
}

/* Selector Grouping */
div, h2 {
    margin: 2.5%;
}

#header-div{
    position: relative;
    height: 250px;
    width: 95%;
    padding: 0;
    text-align: left;
}

#header-name{
    width: 90%;
    height: 50px;
    text-align: left;
    margin: 0px;
    padding: 0px;
    position: relative;
    left: 5%;
    top: 30px;
    background-color: lightgray;
    z-index: 1;
}

#my-name{
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
    left: 10px;
    height: 40px;
    width: 90%;
}

#resume-photo {
    position: absolute;
    right: 30px;
    margin: 0;
    height: 180px;
    border-radius: 50%;
    z-index: 2;
}

#image-shadow {
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    height: 190px;
    width: 190px;
    border-radius: 50%;
    position: absolute;
    right: 24px;
    top: 47px;
    z-index: 1;
}

#header-title-links {
    margin: 0px;
    padding: 0px;
    text-align: left;
    width: 50%;
    height: 140px;
    position: relative;
    top: 30px;
    left: 5%;
    border: none;
}

#header-title-links > h2, #header-title-links > a {
    text-align: left;
    margin: 5px 0px;
    padding: 0;
    position: relative;
}

table {
    width: 100%;
}

.tb-header {
    background-color: whitesmoke;
}

div {
    width: 90%;
    background-color: ghostwhite;
    padding: 2.5%;
}

td {
    width: 33%;
}

h2 {
    width: 95%;
}

ul {
    text-align: left;
}

.profile {
    border: none;
}

.left-align {
    text-align: left;
}

.skills-table {
    background-color: white;
}