html {
    font-family: 'Times New Roman', Times, serif;
}

/* Selector Grouping */
html, .skills-tables-div {
    background-color: lightgray;
}

.align-center {
    text-align: center;
}

.justified {
    text-align: justify;
    padding: 5px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.section-header {
    background-color: #EFEFEF;
    padding: 1px;
}

#my-name {
    margin: 0;
    padding: 0;
    position: absolute;
}

.header-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px 180px;
}

.header-name {
    grid-column: span 2;
    grid-row: 1;
    background-color: lightgray;
}

.header-title {
    grid-row: 2;
    margin: 0px;
    padding: 0px;
}

.header-title > h2, .header-title > a {
    text-align: left;
    margin: 5px 0px;
    padding: 0;
    position: relative;
}

.title-inline {
    margin: 0;
}

.header-image {
    grid-row: 2;
    margin: 0px;
    padding: 0px;
}

#resume-photo {
    float: right;
    position: relative;
    bottom: 30px;
    border: 1px solid black;
    margin: 0;
    height: 180px;
    border-radius: 50%;
    z-index: 2;
}

.contact-me {
    margin: 5px 0px;
}

table {
    width: 100%;
}

.tb-header {
    background-color: whitesmoke;
}

div {
    /* width: 90%; */
    background-color: ghostwhite;
    padding: 10px;
}

td {
    width: 33%;
}

h2 {
    width: 95%;
}

ul {
    text-align: left;
}

.profile {
    border: none;
}

.left-align {
    text-align: left;
}

.skills-table {
    background-color: white;
}

#work-history-div li {
    margin: 10px 0px;
}

.all-work {
    margin: 0px;
    display: none;
    border: none;
}

.grid-display {
    margin: 0px;
    border: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-work {
    border: none;
    width: 90%;
}

.right-work {
    border: none;
    width: 90%;
}

#hard-skills-div-small, #soft-skills-div-small {
    display: none;
}

@media (max-width: 685px){
    .all-work {
        display: block;
    }

    .left-work, .right-work {
        display: none;
    }

    .header-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: repeat(3, auto)
    }

    .header-title {
        grid-column: span 2;
        grid-row: 2;
        margin: 0px;
        padding: 0px;
    }

    .header-image {
        grid-column: span 2;
        grid-row: 3;
        margin: 0px;
        padding: 0px;
    }
    
    #resume-photo {
        margin-right: 15%;
        bottom: 90px;
        border: 1px solid black;
        height: 150px;
        border-radius: 50%;
        z-index: 2;
    }

    .title-inline {
        font-size: 14pt;
    }

    .contact-me {
        margin: 50px 0px 5px 0px;
    }

    #hard-skills-div-small, #soft-skills-div-small {
        display: block;
    }

    #hard-skills-div, #soft-skills-div {
        display: none;
    }
}