html {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgray;
}

table {
    border: 1px solid black;
    width: 100%;
    align-items: center;
}

.tb-header {
    background-color: white;
}

div {
    text-align: center;
    width: 90%;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: 2.5%;
    padding: 2.5%;
}

td {
    width: 33%;
    text-align: center;
}

h2 {
    width: 95%;
    margin: 2.5%;
    text-align: center;
}

ul {
    text-align: left;
}

.profile {
    border: none;
}

.left-align {
    text-align: left;
}

#resume-photo {
    height: 200px;
    border-radius: 50%;
}

.skills-tables-div {
    background-color: lightgray;
}

.skills-table {
    background-color: antiquewhite;
}